SECRET_KEY="YOUR-VALUE"

# 0 False, 1 True
DEBUG="1"

# Comma Separated values
ALLOWED_HOSTS="127.0.0.1, localhost"

DB_ENGINE="django.db.backends.postgresql"
POSTGRES_DB="YOUR-VALUE"
POSTGRES_USER="YOUR-VALUE"
POSTGRES_PASSWORD="YOUR-VALUE"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"